<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}">
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    {% if menu=='case1' %}
                    <a class="nav-link active" href="{{ url_for('case1') }}" style="color: rgb(66, 164, 255);">case 1</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('case1') }}">case 1</a>
                    
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if menu=='case2' %}
                    <a class="nav-link active" href="{{ url_for('case2') }}" style="color: rgb(66, 164, 255);">case 2</a>
                    
                    {% else %}
                    <a class="nav-link" href="{{ url_for('case2') }}">case 2</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if menu=='case3' %}
                    
                    <a class="nav-link active" href="{{ url_for('case3') }}" style="color: rgb(66, 164, 255);">case 3</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('case3') }}">case 3</a>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <section style="margin-top: 10px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
        crossorigin="anonymous">
    </script>

</body>
</html>