{% extends 'base.html' %}

{% block content %}
<!-- <div class="card mt-10">
    <div class="card-header">
        {{value}}
    </div>
    <div class="card-body">
    <form class="row g-3">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-6">
          <label for="date_of_birth" class="form-label">date_of_birth</label>
          <input type="date" class="form-control" name="date_of_birth" id="date_of_birth">
        </div>
        <div class="col-12">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="M">Male</option>
            <option value="F">Famale</option>
          </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Tambah {{value}}</button>
        </div>
    </form>
</div>
</div> -->

<div class="card mt-10">
    <div class="card-header">
        {{value}}
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Gender</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
            <tr>
                <th scope="row">{{ d[0] }}</th>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}