{% extends 'base.html' %}

{% block content %}
<div class="card mt-10">
    <div class="card-header">
        {{value}}
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">department</th>
                <th scope="col">join_date </th>
                <th scope="col">status</th>
                <th scope="col">branch</th>
            </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <th scope="row">{{ d[0] }}</th>
                    <td>{{ d[1] }}</td>
                    <td>{{ d[2] }}</td>
                    <td>{{ d[3] }}</td>
                    <td>{{ d[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}