{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
      Soal
    </div>
    <div class="card-body">
      <h5 class="card-title">Database</h5>
      <ol>
        <li> Tampilkan name, status, location dari seluruh pekerja yang lokasi 
                Branch berada di Bandung.
        </li>
        <li>
            Tampilkan name, gender, department dari seluruh pekerja yang join_date
      di bulan Desember.
        </li>
        <li>
            Hitung jumlah pekerja yang lahir di atas tahun 1990 dan bekerja sebagai 
      Finance
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

    
